<h2>About</h2>
<p>
    DNS Server Web Admin provides a way to configure and control Microsoft's &copy; DNS Server<br />

    Copyright (c) 2011 Dror Gluska<br />
    
    Microsoft DNS Web Admin is released under the GPL license.<br />
    DNSManagement component is released under the LGPL license<br />
    DNS Dig/Trace by Alphons van der Heijden is released under the CPOL license<br />

    Descriptions taken from <a href="http://en.wikipedia.org/wiki/List_of_DNS_record_types" target="_blank">Wikipedia</a> and <a href="http://punarvasi.com/what-are-dns-resource-records-and-how-do-we-create-them-manually/">Punarvasi</a> or Microsoft.
</p>
